.contentImage {
  width: 100%;
  height: 110px;
  display: flex;
}

.contentImage img {
  width: 200px;
  position: absolute;
  top: 7rem;
  left: 7rem;
  background-color: #fff;
  border-radius: 50%;
}

.contentInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
  background: rgb(119, 47, 181);
  background: linear-gradient(
    180deg,
    rgba(119, 47, 181, 0.9387955011106005) 19%,
    rgba(119, 47, 181, 0.4794117476091999) 82%,
    rgba(119, 47, 181, 0.3169467616148022) 100%
  );
  height: 70vh;
}

.contentProfileInfo {
  margin: 1rem;
  text-align: start;
  color: #fff;
}

.contentUserName {
  display: flex;
  padding: 0.1rem;
}

.butonEdit {
  margin-left: 0.5rem;
  cursor: pointer;
}

.nameUser {
  margin: 0;
  font-size: 3rem;
}

.dataUser {
  margin: 0;
  font-size: 1.2rem;
}
.formUserNameNone {
  display: none;
}

.formUserName {
  display: block;
}

.formUserName input {
  border-radius: 40px;
  background-color: #fff;
  border: none;
  margin-right: 1rem;
  padding: 0.5rem;
}
.formUserName button {
  border-radius: 40px;
  background-color: #7b2cbf;
  color: #fff;
  padding: 0.5rem;
  border: none;
  margin-right: 1rem;
}

.data {
  color: rgba(255, 255, 255, 0.8);
}

.contentPublics {
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 1rem;
}

.contentPublicsNone {
  height: 400px;
  padding-right: 1rem;
}
.contentPublics h6,
.contentPublicsNone h6 {
  color: #fff;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
}

.contentPublics h4,
.contentPublicsNone h4 {
  color: #fff;

  border-bottom: 1px solid #999;
  font-size: 2rem;
}

.logOut {
  background-color: transparent;
  border: 1px solid #000;
  color: #fff;
  border-radius: 40px;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}

@media (max-width: 600px) {
  .contentImage img {
    margin-top: -4rem;
  }
  .contentInfo {
    flex-direction: column;
    padding: 0;
    height: 80vh;
  }
  .contentProfileInfo {
    margin-top: 8rem;
    text-align: center;
    width: 100%;
  }
  .contentPublics {
    padding: 0;
  }
}
