.contetAll {
  background: rgb(123, 44, 191);
  background: linear-gradient(
    235deg,
    rgba(123, 44, 191, 0.3589635683374912) 0%,
    rgba(123, 44, 191, 0.8799719716988358) 65%
  );
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 0 4rem;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 2000px;
  }
}

.contentText {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 70%;
}
.contentText h1 {
  font-size: 4rem;
  margin: 2rem 0 0 0;
  color: #fff;
}
.contentText h5 {
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
  font-weight: 100;
}

.contentImg {
  width: 60%;
  height: 70%;
}

.wave {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 50px;
  background-image: url("../../assets/wave.png");
  background-size: 2000px 100px;
  animation: wave 10s linear infinite;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .contentText {
    width: 100%;
    height: max-content;
    text-align: center;
  }
  .contentText h1 {
    font-size: 3rem;
    margin: 0;
  }
  .contentText h5 {
    font-size: 1.5rem;
  }
  .contentImg {
    margin-top: 2rem;
    width: 100%;
    height: max-content;
  }
  .contentImg img {
    width: 400px;
  }

  .wave {
    bottom: 180px;
  }
}
