.content {
  display: flex;
  padding: 2rem 4rem;
}

.contentPosts {
  width: 50%;
  animation: aparecer 1.5s ease;
}

.contentLoader {
  width: 50%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loaderCircule {
  fill: none;
  stroke: #7b2cbf;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
  }
}

.image {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 15%;
  left: 50%;
  animation: imegen 1.5s ease;
}

@keyframes imegen {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 0;
    justify-content: center;
    margin: 2rem 0;
  }
  .contentPosts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .image {
    display: none;
  }
}
