.contentAll {
  background: rgb(123, 44, 191);
  background: linear-gradient(
    235deg,
    rgba(123, 44, 191, 0.3589635683374912) 0%,
    rgba(123, 44, 191, 0.8799719716988358) 65%
  );
  min-height: 100vh;
}

.content {
  display: flex;
  padding: 2rem 4rem;
}

.contentPosts {
  width: 50%;
  animation: aparecer 1.5s ease;
}
.contentPosts h1 {
  color: #fff;
}

.contentLoader {
  width: 50%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loaderCircule {
  fill: none;
  stroke: #7b2cbf;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
  }
}

.image {
  width: 50%;
  height: 70vh;
  margin-top: 2rem;
  position: fixed;
  top: 15%;
  left: 50%;

  animation: movimiento 4s linear infinite;
}
.image img {
  width: 600px;
}

@keyframes movimiento {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-0px);
  }
}

@media (max-width: 600px) {
  .content {
    padding: 0;
    justify-content: center;
    margin: 2rem 0;
  }
  .contentPosts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .image {
    display: none;
  }
}
