.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  height: 80px;
  padding: 0 4rem;
}

.navegation {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.inicio {
  color: #000;
  text-decoration: none;
}

.service {
  color: #000;
  text-decoration: none;
}

.border {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #7b2cbf;
}

.searchBar {
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 40px;
  width: 200px;
  display: flex;
}
.searchBar input {
  background-color: transparent;
  border: none;
  padding-left: 1rem;
  outline: none;
}
.searchBar button {
  background-color: transparent;
  border: none;
}

.sesionAndPosts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.logoProfile {
  margin-left: 4rem;
  color: #000;
}

.sesion {
  color: #000;
  text-decoration: none;
}

.newPost {
  color: #fff;
  text-decoration: none;
  background-color: #7b2cbf;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  border: none;
}

.navegationSec {
  display: none;
  justify-content: space-between;
  width: 180px;
}

.butonMenu {
  visibility: hidden;
}

.buttons {
  display: none;
}

@media (max-width: 600px) {
  .content {
    display: none;
  }
  .buttons {
    display: flex;
  }

  .contentNone {
    display: flex;
    width: 100%;
    height: 150px;
    z-index: 1;
    position: fixed;
    flex-wrap: wrap;
    height: 100vh;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
  }

  .navegationSec {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1rem 0;
  }

  .navegation {
    display: none;
  }

  .butonMenu {
    visibility: visible;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
  }

  .butonMenuNone {
    display: none;
  }

  .searchBar {
    width: 150px;
  }

  .searchBar input {
    width: 80%;
    font-size: 0.7rem;
  }

  .sesionAndPosts {
    width: 80%;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .sesion {
    margin-bottom: 1rem;
  }

  .logoProfile {
    margin: 1rem 0;
    color: #000;
  }
}
